POSTGRES_DB=seavault
POSTGRES_USER=seavault
POSTGRES_PASSWORD=troque-esta-senha

DB_URL=jdbc:postgresql://db:5432/seavault
DB_USER=seavault
DB_PASSWORD=troque-esta-senha

JWT_PRIVATE_KEY_LOCATION=/deployments/secrets/privateKey.pem
SEAVAULT_CORS_ORIGINS=https://app.seavault.com.br
SEAVAULT_PII_KEY=troque-por-uma-chave-base64-de-32-bytes
SEAVAULT_FILES_DIR=/deployments/data/files
SEAVAULT_APP_BASE_URL=https://api.seavault.com.br

QUARKUS_MAILER_HOST=smtp.seuprovedor.com
QUARKUS_MAILER_PORT=587
QUARKUS_MAILER_USERNAME=apikey
QUARKUS_MAILER_PASSWORD=troque
QUARKUS_MAILER_START_TLS=REQUIRED
